* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
}
.nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}


.logo{
    padding: 5px 75px;
    background-color: cornsilk;
    border: 2px dashed black;
}

.link ul{
    list-style: none;
    display: flex;
    background-color: cornsilk;
    border: 2px dashed black;
    padding: 5px 75px;
}

.link ul li a{
    display: inline-block;
    padding: 0 1rem;
}


.login{
    padding: 5px 75px;
    background-color: cornsilk;
    border: 2px dashed black;
    text-align: right;
}


.sezione{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container{
    width: 920px;
    margin: 0 auto;
}
.box-one{
    background-color: crimson;
    border: 2px dashed black;
    width: 670px;
    height: 250px;
    padding: 25px 0;
    margin: 20px 0;
}

.bg-white{
    background-color: white;

}
.box{
    border: 2px dashed black;
    margin: 20px 0;
    height: 300px;
    width: 300px;
}
.blue{
    background-color: aqua;
    width: 500px;
}

.pink{
    background-color: pink;
}
.bg-grey{
    background-color: grey;
}
.bg-verde{
    background-color: darkgreen;
    width: 800px;
    height: 500px;
}
footer{
    width: 100%;
    background-color: darkslategray;
}
.dad{
    display: flex;
    justify-content: center;
}
.salmon{
    background-color: salmon;
    width: 187px;
    height: 500px;
}
.mint{
    background-color: mediumspringgreen;
    width: 160px;
    height: 500px;
    border: dashed white;
}
hr{
    width: 920px;
    border: 1px solid violet;
    margin-bottom: 20px;
}
.last-items{
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
    border: 1px dashed black;
}


